{% extends "layout.html" %}

{% block content %}
<br>
<h4>{{ title }}</h4>

<table align="center">
	<tr>
		<td align="left">Manager Thread: {{ mgrstat }}</td>
	</tr>
	<tr>
		<td align="left">Flask Thread: {{ flaskstat }}</td>
	</tr>
	<tr>
		<td align="left">Telemetry Thread Status: {{ telemstat }}</td>
	</tr>
	<tr>
		<td align="left">Kinglet Capturing Status: {{ kingletstat }}</td>
	</tr>
	<tr>
		<td align="left">GPSd Status: {{ gpsdstat }}</td>
	</tr>
	<tr>
		<td align="left">Mode: {{ GPS_mode }} </td>
	</tr>
	<tr>
		<td align="left">Lat: {{ GPS_lat }}, Lon: {{ GPS_lon }} </td>
	</tr>
	<tr>
		<td align="left">Current location: {{ CurLoc }} </td>
	</tr>
	<tr>
		<td align="left">Home location: {{ HomeLoc }} </td>
	</tr>
	<tr>
		<td align="left">Distance from Home location: {{ CurDist }} ft </td>
	</tr>
</table>

{% endblock %}
